<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musify | {{ username }}</title>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/npm.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'posts/css/base.css' %}">
    {{ form.media }}
</head>
<body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" >Musify</span>
    </div>
    <ul class="nav navbar-nav my-navbar">
      <li class="home"><a href="{% url 'posts:list' username=username %}">Home</a></li>
      <li class="create"><a href="{% url 'posts:create' username=username %}">Create</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>


<div class="container">
{% block content %}
{% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>
<script>
    $(document).ready(function(){

    $("img[data-type='image']").each(function(){
    $(this).addClass("img-responsive");
    })

    $('.content-markdown').each(function(){
    var converter = new showdown.Converter();
    var content=$(this).text();

    var op=converter.makeHtml(content)
    $(this).html(op);
    })

 $('.content-markdown img').each(function(){
    $(this).addClass('img-responsive');
    })



    $('.content-markdown').next().each(function(){
    var converter = new showdown.Converter();
    var content=$(this).text();
     var op=converter.makeHtml(content)
    $(this).html(op);
    })


var title=$("#id_title").val();
$("#preview-title").text(title);

$("#id_title").keyup(function(){
    var value=$(this).val();
    $("#preview-title").text(value);
})


var lyrics=$("#id_lyrics").val();
$("#preview-lyrics").text(lyrics);

$("#id_lyrics").keyup(function(){
    var value=$(this).val();
    $("#preview-lyrics").text(value);
})




var artist=$("#id_artist").val();
$("#preview-artist").text(artist);
$("#id_artist").keyup(function(){
    var value=$(this).val();
    $("#preview-artist").text(value);
})



$("#id_content").keyup(function(){
    var val=$(this).val();
    $("#preview-content").html(converter.makeHtml(val));

    $("#preview-content img").each(function(){
$(this).addClass('img-responsive');
})


})


var tags=$("#id_tags").val();
$("#preview-tags").text(tags);

$("#id_tags").keyup(function(){
    var value=$(this).val();
    $("#preview-tags").text(value);
})


$(".home").on("click",function(){
      $(".create").removeClass("active");
      $(this).addClass("active");
})


$(".create").on("click",function(){
      $(".home").removeClass("active");
      $(this).addClass("active");
})




    })
</script>
</body>
</html>