{% extends "posts/base.html" %}

{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
    {% if object.image %}
    <img src='{{ object.image.url }}' class='img-responsive' />
    {% endif %}
<h1>{{ object.title }} <small>{{ object.timestamp }}</small></h1>
<p>Author: {{ object.get_author }}</p>
<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <hr/>

<div class="row">{{ object.lyrics | safe }}</div>

<div class='row'>
<div class='col-sm-12 content-markdown'>

{{ object.content }}

<hr/>
<br/>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

</div>
</div>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock content %}