{% extends "posts/base.html" %}

{%block content %}


<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
<!--<form method='GET' action=''>-->
<!--<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>-->
<!--<input type='submit' value='Search' />-->
<!--</form>-->
    {% for obj in list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption">
        <h3>{{obj.title}} <small>{{ obj.timestamp }}</small></h3>
          <p><b>Author</b>: {{ obj.author }}</p>
          <p class="content-markdown">{{ obj.content | truncatewords_html:10 }}</p>
      <button class="btn btn-primary btn-small"><a href='{{ obj.get_absolute_url }}'>View</a></button>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}




</div>

{% endblock content %}


