{% extends "posts/base.html" %}

{%block content %}


<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
<!--<form method='GET' action=''>-->
<!--<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>-->
<!--<input type='submit' value='Search' />-->
<!--</form>-->
    {% for obj in list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail"  style="overflow:hidden;padding:10px;">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption">
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.timestamp }}</small></h3>
          <p><b>Author</b>: {{ obj.author }}</p>
          <p>{{ obj.content|safe|linebreaks|truncatechars:120 }}</p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>

{% endblock content %}


