<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/npm.js' %}"></script>
    <script src="{% static 'persons/js/script.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'persons/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'persons/css/style1.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>


  <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'images/img1.jpg' %}');"></div>
                <div class="carousel-caption">
                    <h2 class="animated fadeInRight"><b class="doggo">Musify</b></h2>
                     <h3 class="animated fadeInRight">Share your experiences about your favourite songs</h3>
                     <p class="animated fadeInRight"></p>
					<a class="buttonselector btn btn-transparent btn-rounded btn-large main-nav centered">Get Started</a>

                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'images/img2.jpg' %}');"></div>
                <div class="carousel-caption row">
                     <h2 class="animated fadeInRight"><b class="doggo">Musify</b></h2>
                     <h3 class="animated fadeInRight">Learn new stories about the songs you love</h3>
                     <p class="animated fadeInRight"></p>
				<a class="buttonselector btn btn-transparent btn-rounded btn-large main-nav centered">Get Started</a>

                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{% static 'images/img3.jpg' %}');"></div>
                <div class="carousel-caption">
                     <h2 class="animated fadeInRight"><b class="doggo">Musify</b></h2>
                     <h3 class="animated fadeInRight">Join us and fall in love with the world of music</h3>
                     <p class="animated fadeInRight"></p>
					<a class="buttonselector btn btn-transparent btn-rounded btn-large main-nav centered">Get Started</a>

                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>




	<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Sign in</a></li>
				<li><a href="#0" class="new">New account</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form method="POST" class="cd-form" >
        			{% csrf_token %}
					{{ login_form.non_field_errors }}
					<p class="fieldset">
						<label class="image-replace">Username</label>
						{{ login_form.username }}
					</p>

					<p class="fieldset">
						<label class="image-replace">Password</label>
						{{ login_form.password}}
						<a href="#0" class="hide-password">Hide</a>
					</p>
					<p class="fieldset">
						<input class="full-width" type="submit" value="Submit" />
					</p>
				</form>

			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form" method="post">
					{% csrf_token %}
					{{ registration_form.errors }}
						<p class="fieldset">
						<label class="image-replace cd-email" >E-mail</label>
						{{ registration_form.email }}
					</p>

					<p class="fieldset">
						<label class="image-replace cd-username">Username</label>
						{{ registration_form.username }}
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" >Password</label>
						{{ registration_form.password }}
						<a href="#0" class="hide-password">Hide</a>
					</p>


					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->


			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
<script>
	$(document).ready(function(){

	$(".nonfield li").addClass("alert alert-danger");

	if( $(".nonfield li").text() )
	{
	$(".buttonselector").click();
	}

	$(".errorlist li .errorlist li").each(function(){
	$(this).addClass("alert alert-danger");})

	if( $(".errorlist li .errorlist li").text() )
	{
	$(".buttonselector").click();
	$(".new").click();

	}

	})
</script>

</body>
</html>